@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Cairo", ui-sans-serif, system-ui, sans-serif;
}

body {
  font-family: var(--font-sans);
  overscroll-behavior: none;
  touch-action: pan-x pan-y;
}
